.footer {
  background-color: $color-quaternary;
  color: white;
  text-align: center;
  padding: 80px 0;
  bottom: 0;
  width: 100%
}

.first {
  text-decoration: none;


  &__li {
    list-style: none;
  }
}

.second {
  text-decoration: none;

  &__li {
    list-style: none;
  }
}

.third {
  text-decoration: none;

  &__li {
    list-style: none;
  }
}

