.header__container {
    text-align: center;
    color: white;
    padding-top: 440px;
    display: inline-block;
    justify-content: center;
    background-image: url('../images/cover.jpeg');
    background-position: 85%;
    height: 90vh;
    z-index: 0;
    margin-top: -35px;
    margin-left: -35px;
    padding-left: 25px;
  }
  
  .header__title {
    font-family: $font-secondary;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 60px;
    font-weight: 550;
    
    }
  
  .header__text {
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    padding: 20px;
    margin: 30px;
  }
  
  .arrow__down {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: -15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
        &__down img {
          width: 30px; 
          height: 30px;
        }
  
  }