<footer class="footer">
    <div class="first">
        <ul class="first__li">
            <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es/">ROPA</a></li>
            <li><a href="https://adalab.es/">NIÑO/A</a></li>
            <li><a href="https://adalab.es/">DESTACADOS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
        </ul>
    </div>

    <div class="second">
        <ul class="second__li">
            <li><a href="https://adalab.es/">TWITTER</a></li>
            <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">YOUTUBE</a></li>
        </ul>
    </div>

    <div class="third">
        <ul class="third__li">
            <li>&copy;2023</li>
            <li>we <i class="fa-regular fa-heart"></i> run</li>
        </ul>
    </div>
</footer>