<main id="main">
    <section class="first__main"><h4 class="first__green">HISTORIAS, MODA Y ROPA DEPORTIVA</h4>
    <h2 class="first__black">TU TIENDA DE DEPORTE</h2>
    <p class="first__grey">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
    
    <a href="#" class="button__empty">Comprar</a>
</section>

<section class="second__main" id="vuelta">
    <h5 class="second__grey">¡Prepáralos con tus marcas favoritas!</h5>
    <h2 class="second__black">VUELTA AL COLE</h2>

    <div class="second__image"><img src="./images/lpbts-mod05-img01-desk.png">
    <h3>Mochilas escolares</h3></div>
    <div class="second__image"><img src="./images/lpbts-mod05-img04-mob.png">
        <h3>Estuches</h3></div>
    <div class="second__image"><img src="./images/lpbts-mod05-img03-mob.png">
        <h3>Bolsas de deporte</h3></div>
        <a href="#" class="button__full">Empezar ahora</a>
</section>
</main>